@page "/Counter"
<PageTitle>Counter - DeclutterMe</PageTitle>

<h1>Counter</h1>

<section>
    <p>Current count: @_currentCount</p>
    <div class="d-flex gap-2">
        <button class="btn btn-primary btn-lg" @onclick="IncrementCount">Click Me</button>
        <button class="btn btn-warning btn-lg" @onclick="ResetCount">Reset</button>
    </div>
    <Notification Class="mt-3" @ref="_notification" />
</section>

@code {
    private Notification _notification;
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _notification.ResetAlert();
        _currentCount += 1;

        if (_currentCount % 5 == 0) { _notification.AlertError($"The current count is {_currentCount}"); }
        else if (_currentCount % 4 == 0) { _notification.FireError($"The current count is: {_currentCount}"); }
        else if (_currentCount % 3 == 0) { _notification.FireWarning($"The current count is: {_currentCount}"); }
        else if (_currentCount % 2 == 0) { _notification.FireInfo($"The current count is: {_currentCount}"); }
        else if (_currentCount % 1 == 0) { _notification.FireSuccess($"The current count is: {_currentCount}"); }
    }

    private void ResetCount()
    {
        _currentCount = 0;
    }
}
