@inherits LayoutComponentBase

<PageTitle>DeclutterMe - BlazorUI</PageTitle>

<BlazoredToasts 
    Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" 
    MaxToastCount="3" />

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3 py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DeclutterMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li class="dropdown-item">
                                <a class="nav-link text-light" href="/Admin/Category">Category</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-light" href="/Admin/Product">Product</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <i class="theme-switch d-none d-md-inline mx-2 text-light fs-4 bi bi-sun-fill"></i>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<footer class="border-top footer bg-primary text-light">
    <div class="container">
        &copy; @DateTime.Now.Year - DeclutterMe - Blazor
    </div>
</footer>

<PageScript Src="./Features/Layout/MainLayout.razor.js" />
