@{
    ViewData["Title"] = "Products";
}

<div class="container p-3">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle me-2"></i>Create New Product
            </a>
        </div>
    </div>

    <table id="productData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>List Price</th>
                <th>Actual Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}